/* .cover-screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: black;
  color: white;
  line-height: 120px; /* Adjust line height to center the text vertically */

  text-align: center;
  font-size: 40px;
  z-index: 2;
}

/* .cover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
} */

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 20px;
  pointer-events: none; /* Ensure the text does not interfere with mouse events */
}

.canvas {
  position: fixed;
  top: 10%; /* 10% of the height is reserved for the menu */
  left: 0;
  width: 100%;
  height: 90%; /* Remaining 90% of the height for the canvas */
  background: black;
}

.floating-logo {
  width: 60px;
  /* margin-bottom: 10px; */
}
